*{
   box-sizing: border-box;
   padding: 0px;
   font-family: 'Libre Baskerville', serif;
}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

body{
  margin: 0px;
  background-image: url(imagen/background-menu.jpg);
  background-size:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container{
  height: 350px;
  width: 80%;
  margin: 0 auto;
}

.menu{
  font-size: 14px;
  height: 50px;
  width: 40%;
  font-weight: bold;
  list-style: none;
  border: 1px solid;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  border-color: gray;
  margin:0 auto;
  margin-top: 230px;
}

.menu .menu-item{
  float: left;
  margin-top: 15px;
  margin-left: 7%;
  color: white;
}

.menu .menu-item>a{
  text-decoration: none;
  color: white;
  transition: .5s;
}

.menu .ativo>a{
    color: black;
}

.menu .menu-item>a:hover{
  font-size: 18px;
  color: black;
  transition: .5s;
}

.content{
   position: relative;
   top : 28px;
   height: auto;
   width: 60%;
   margin: 0px auto;
   background: #EDEDED;
   overflow: auto;
}

.container .nome{
  padding: 5px 0px;
  width: 100%;
  background: #444444;
}

.container .nome>h1{
  font-size: 20px;
  color:#DDDDDD;
  font-weight: bold;
  margin-left: 14px;
}

.conteudo-geral{
   width: 95%;
   margin: 0px auto;
   border-bottom: 1px solid #9A9A9A;
}

.conteudo-geral .menu-sumario{
   margin-left: 32px;
}
