<div class="col-md-10 col-md-offset-1 chat">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 titulo"><h3>------------------- One For All -------------------</div>
        <div class="col-md-10 col-md-offset-1 chat-textBox">chat aqui</div>  <!-- talvez trocar div por outro elemento -->                    
    </div> 
    <div class="row">
        <div class="col-md-10 col-md-offset-1 mensagem-box">
            <div class="row">
                <div class="col-md-10 mensagem">
                    <input class="form-control" type="text">                            
                </div>
                <div class="col-md-2 enviar">
                    <input class="btn btn-warning" type="button" value="Enviar">
                </div>
            </div>
        </div>
    </div>           
</div>