*{
    box-sizing: border-box;
}

.menu-global{
    position: fixed;
    background-image:url(http://downloads.open4group.com/wallpapers/festa-galera-vetores-bb3fd.jpg);
    background-position: 2px;
    background-size: cover;
    width: 100%;
    height: 136px;
    text-align: center;
    color: gray;
    font-weight: bold;
    font-size: 58px;
    font-family: 'Vibur', cursive;
    text-shadow: 2px -2px lime;    
}

    .menu-global span{
        position: relative;
        top: 22%;        
    }

.menu-lateral{
    background: #e0dede;
    top: 20vh;      
    left: 0px;
    position: fixed;
    height: 80%;
    width: 20%;
    min-width: 200px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

    .itens-menu{        
        position: relative;
        background:#e0dede;            
        height: 60px;        
        width: 100%;        
    }
        .itens-menu:hover{
            background: gray;
            cursor: pointer;
        }

    .itens-menu span{
        position: relative;
        top: 20%;
        transform: translateY(-50%); 
    }

    .ativo{
        background: white;
    }

.template{    
    margin-top: 22vh;
    margin-left: 17%;               
}

.fomulario-login{
    border: 2px solid;
    height: 500px;
}

.botao-login{
    margin-top: 10px;
    width: 150px;
}

.mensagen-cadastrado{
    float: right;
    margin-top: 5px;
}

.valo-total{
    margin-bottom: 20px;    
    font-size: 30px;
}