*{
	box-sizing: border-box;
}

body{
	background: #424242;	
	margin: 0px;
	padding: 0px;

}

.bkg-white{	
	background: white;	
	border-radius: 0px 0px 30px 30px;
}
.bkg-white h3{
	font-size: 39px;
}

.barra{	
	width: 100%;
	text-align: center;
	margin-bottom: 5px;	
	font-size: 16px;	
	font-family: 'Baloo', cursive;		
}

	#texto-busca{
		border-radius: 10px;
		background: #D6D6D6;
		text-align: center;		
	}

	#botao{		
		background-color: #C50102;
		color: white;	
		border-radius: 8px;
		margin-left: 5px;
		transition: .3s;
	}
	
	#botao:active{
		background-color: white;
		color: #C50102;		
	}

.conteudo{
	background: linear-gradient(white,#424242); 
	min-height: 210px;
	width: 50%;
	margin-top: 30px;
	margin-bottom: 40px;
	border-radius: 10px;
	text-align: center;		
}

	.conteudo-campo{
		height: 30px;
		text-align: left;
		margin : 6px 3px 8px 3px;		
	}
	

    #imagem-pokemon img{	  
	    height: 160px;
	    width: auto;
	    margin-top: 20px;	    
	}

	#nome{
		margin-top: 20px;
	}