
*{
    box-sizing: border-box;
}

body{
    background: #afafaf;
}

.container{
    padding-top: 410px;
}

.borda{
    border: 2px solid;
}

.corpo{
    width: 100%
}

.barra-menu{
    position: fixed;    
    height: 80px;
    z-index: 1000;
    background: white;
    border-radius: 0px 0px 15px 15px;
}

.lancamentos{
    text-align: center;
    background: white;
    border-radius: 0px 0px 20px 20px;
    margin-top: 80px;
    left: 10px;    
    float: left;
    height: 360px;
    width: 99%;   
    overflow-y: hidden;
    position: absolute;
    top: 0px;
    transition: .6s;
}

.lancamentos-aberto {
    height: initial;
    background: white;
    z-index: 999;
}

    .livros-lancamento{
        height: 325px;
        margin-bottom: 15px;        
    }

    .livros-lancamento img{
         height: 300px;         
         max-width: 300px;
    }

    .abrir-fechar-lancamentos:hover{
        background: black;
        color: white;
        transition: 0.6s;
        cursor: pointer;
    }

    .abrir-fechar-lancamentos{
        font-weight: bold;
    }

.livros{
    text-align: center;
    margin-top:40px;
    height: auto;
}

    .livro{
        height: 400px;    
        width: 380px;
    }

    .titulo{
        
        height: 40px;
    }

    .titulo h4{
        font-weight: bold;
    }

    
    .imagem{
        height: 250px;
        text-align: center;
    }

        .imagem img{
            height: 250px;
            max-width: 250px;
            width: auto;
        }

    .descricao{
        height: 110px;
    }

.paginacao{
    text-align: center;
}