
*{
    box-sizing: border-box;
}

body{
    background: #afafaf;
}

.container{
    padding-top: 410px;
}

.borda{
    border: 2px solid;
}

.corpo{
    width: 100%
}

.barra-menu{
    position: fixed;    
    height: 80px;
    z-index: 1000;
    background: white;
}

.lancamentos{
    background: red;
    margin-top: 80px;
    height: 330px;
    width: 90%;   
    overflow-y: hidden;
    position: absolute;
    top: 0px;
    transition: .4s;
}

.lancamentos-aberto {
    height: initial;
    background: red;
    z-index: 999;
}

    .livros-lancamento{
        height: 300px;
        margin-bottom: 15px;
    }

.livros{
    margin-top:5px;
    height: auto;
}

    .livro{
        height: 400px;    
        width: 380px;
    }

    .titulo{
        height: 40px;
    }
    
    .imagem{
        height: 250px;
        text-align: center;
    }

        .imagem img{
            height: 250px;
            width: auto;
        }

    .descricao{
        height: 110px;
    }
