<link rel="stylesheet" href="css/home.css">
<div class="navegacao">
    <nav class="itens-navegacao row">
        <div class="col-md-3 "><label> {{dados.nome}} </label></div>
        <div class="col-md-3 solicitacoes"><label> solicitacoes </label></div>
        <div class="col-md-3"><label>buscar</label></div>
        <div class="col-md-3"><label> logout </label></div>
    </nav>
</div>
<div>
    <div class="barra-lateral">
        <div class="foto-perfil">
            <img src="{{dados.foto}}">
        </div>
        <div class="minhas-postagens">
            <label> minhas postagens </label>
        </div>
        <div class="feed-noticia">
            <label> noticias </label>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-2 feed">
        <div class="card-feed-postagem col-md-8">
            <form>
                <label>Alguma novidade ?</label>
                <textarea class="form-control" rows="3" autofocus>                       
                    </textarea>
                <input type="button" class="btn btn-postar" value="Postar">
            </form>
        </div>
        <div class=" card-feed-postagem postagens-amigos col-md-8" ng-repeat="post in postagens">
            <div class="nomeAmigo">
                <label>{{post.nome}}</label>
            </div>
            <div class="postagemAmigo">
                <label>{{post.postagem}}</label>
            </div>
        </div>
    </div>
    <div class="col-md-4 radio">
        <div> <label> Radio Online </label></div>
        <iframe src="https://www.youtube.com/embed/25hiadrrScY" frameborder="0" allowfullscreen></iframe>
    </div>
</div>