<div class="col-md-4 col-md-offset-4 login">
    <form>
        <div class="usuario-login">
            <label>Usuario</label>
        </div>
        <input class="form-control" type="text" placeholder="Nome de Usuario" autofocus>
        <div class="senha-login">Senha</div>
        <input class="form-control" type="text" placeholder="Senha">
        <div class="botao-login">
            <input type="button" class="btn btn-primary btn-login" value="Logar">
        </div>
        <div class="cadastrar">
            <a href="#"> cadastrar </a>
        </div>
    </form>
</div>