* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1;}
}

.fadeIn {
    animation: fadeIn 0.8s ease-in-out;
}

body {
    background: url(../imagen/bkg.jpg);
    background-size: cover;
}

.navegacao {
    position: fixed;
    top: 0px;
    height: 80px;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 1000;
}

    .navegacao h1 {
        color: yellow;
        font-family: 'Frijole', cursive;
        font-size: 48px;
        margin-top: 10px;
        text-shadow: 4px 2px black;        
    }

    .navegacao a{
        text-decoration: none;
    }