* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background: url(../imagen/homeBkg.jpg);    
    background-size: 120%;
    background-repeat: none;    
    
}

.navegacao {
    position: fixed;
    top: 0px;
    height: 80px;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);    
    color: yellow;
    font-size: 24px;
}

    .itens-navegacao{
        margin-left: 30px;
        position: relative;
        top: 25%;        
    }

    .solicitacoes label{
        margin-left: 46px;
    }

.barra-lateral{        
    position: fixed;
    margin-top: 80px;    
    height: 100%;
    width: 300px;
    background: rgba(0, 0, 0, 0.8);
    color: yellow;    

}    

    .barra-lateral div{
        height: 60px;        
        background: rgba(0, 0, 0, 0.8);
        font-size: 20px;    
        border-bottom: 3px solid yellow;        
        text-align: center;
    }
        .barra-lateral div label{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

    .barra-lateral div:hover{
        background: yellow;
        color: black;        
        transition: 0.5s;
        font-size: 24px;       
    }


    .barra-lateral .foto-perfil{
        height: 150px;
    }
        .barra-lateral .foto-perfil:hover{
            background: rgba(0, 0, 0, 0.8);
        }

        .barra-lateral .foto-perfil img{
            height: 140px;
            width: auto;
            border-radius: 50px;             
        }
        
        .barra-lateral .foto-perfil img:hover{
            transform: scale(1.1);                     
            transition: 0.5s ease-in-out;
        }



.feed{
    margin-top: 90px;   
}

.radio{
    margin-top: 90px;  
    background: rgba(30, 30,30, 0.8);
    min-width: 430px;
    border-radius: 10px;        
    left: -80px;
}

    .radio div{    
        color: yellow;
        text-align: center;        
    }

.card-feed-postagem{
    height: 230px;    
    background: rgba(30, 30,30, 0.8);
    margin-left: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px #363636;
    text-align: center;
    color: yellow;            
}
    .card-feed-postagem form label{
        margin-top: 15px;   
    }

    .card-feed-postagem form textarea{
        resize: none;
        margin-top: 10px;
        text-align: left;
        font-size: 24px;
    }

    .btn-postar{
        margin-top: 10px;
        width: 100%;
        background: black;               
    }
    
    .btn-postar:hover{       
        background: yellow;
         color: black;
        transition: 0.3s;
    }

    .btn-postar:active{
        background: gray;
        color: yellow;                
    }

.postagens-amigos{
    margin-top: 20px;
}
    