
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.angularjs.org/1.6.4/angular.js"></script>


    <link rel="stylesheet" href="estilo.css">
    <script res="text/javascritp" src="controller.js"></script>

    <title>Document</title>
</head>
<body>
 <div class="container" ng-app="data">
     <div class="row tudo">
    <fieldset>
        <legend> Converte Data </legend>
        <form ng-controller="converteData">            
            <div class="row formulario fora">
                <div class="row">
                    <div class="col md-4 col-md-ofsset-3 formulario-text">
                        <input type="text" placeholder="29/12/2010" ng-model="dataDigitada">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input type="button" value= " converter" ng-click="converter()")>
                    </div>
                </div>
                <div class="row">
                    {{ dataFinal | date : 'shortDate' }}
                <!-- exercicio 02 -->
                    <ul ng-repeat="instrutor in instrutores">
                        <li>{{ instrutor.nome | mascada }}</li>
                    </ul>
                <!-- exerecicio 02 fim -->              
                </div>
            </div>
        </form>
    </fieldset>
    </div>
</div>
</body>
</html>
