.tudo{
    height: 300px;
    width: 30%;
    border:2px solid;
    margin:0px auto;
    text-align: center;
}

.formulario{    
    height: 400px;
    width: 300px;
    padding: 20px;
}

.forulario-texto{

}