<form class="form-group" novalidate>
    <input type="Date" class="form-control" ng-model="dataBusca" required>
    <button type="submit" class="btn btn-success botao-login" ng-click="RelatorioPorData(dataBusca)" ng-disabled="cadastroCliente.$invalid">
        Buscar
    </button>   
    <button class="btn btn-success botao-login" ng-click="listarEmAberto()" >
        buscar em aberto
    </button>
    <br>
    <br>
    <table class="table relatorio-tabela">
        <tr>
            <td>Cliente</td>
            <td>Pacote</td>
            <td>Data Locacao</td>
            <td>Data a ser entregue</td>
            <td>Data Entregue</td>
            <td>Valor </td>  
            <td></td>        
        </tr>
        <tr ng-repeat="relatorio in relatorios">
            <td>{{relatorio.nome}}</td>
            <td>{{relatorio.pacote}}</td>
            <td>{{relatorio.dataLocacao}}</td>
            <td>{{relatorio.dataEntrega}}</td>
            <td>{{relatorio.dataEntregue}}</td>
            <td>{{relatorio.preco}}</td>            
            <td><button ng-click="Devolver(relatorio)"> Devolver </button></td>            
        </tr>
    </table>     
</form>
